<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @credit_card_type.name %>
</p>


<%= link_to 'Edit', edit_credit_card_type_path(@credit_card_type) %> |
<%= link_to 'Back', credit_card_types_path %>
