<ul id="section_nav">
		<li><%=link_to "Admin Home", admin_path %></li>
		<li><%=link_to "Courses Admin", admin_courses_path %></li>
		<li><a href="/course_categories">Course Category Admin</a></li>
		<li><a href="/users">User/Instructor Admin</a></li>
		<li><%=link_to "Images/Assets Admin", admin_assets_path %></li>
		<li><%=link_to "Transactions", admin_order_items_path %></li>
		<li><a href="/reports">Reports</a></li>
		<li><a href="/content_blocks">Edit Pages</a></li>
</ul>