<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$(".zebra tr:nth-child(odd) td").css("background","#f4f5f4");
	})
</script>

<ul id="section_nav">
		<li><a href="/instructors">Instructor Dashboard</a></li>
		<li><a href="/instructors/courses">Events Admin</a></li>
</ul>