<ul id="section_nav">
	<li><a href="/qualification-statement">Qualification Statement</a></li>
    <li><%=link_to "Register for Courses", courses_path %></li>
	<li><a href="/course-dates">Course Dates</a></li>
	<li><a href="/on-site-training">On-Site Training</a></li>
	<li><a href="https://secure2.360training.com/vu3/index.cfm?event=home&cid=2697">Online Training</a></li>
	<li><a href="/training-locations">Training Locations</a></li>
	<li><a href="/testimonials">Testimonials</a></li>
	<li><a href="/photo-gallery">Photo Gallery</a></li>
	<li><a href="/directions">Directions</a></li>
	<li><a href="/meet-the-staff">Meet the Staff</a></li>
	<li><%=link_to "View Courses", courses_path, :class=>"view_courses_btn" %></li>
	<li><%=link_to "Course Registration", courses_path, :class=>"course_registration" %></li>
	<li><a href="/contact" class="contact_btn">Contact Naeti</a></li>
</ul>